{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Specify the grant scheme this applies to",
            href: "#which-check-input"
          }
        ]
      }) }}


      <h1 class="govuk-heading-l">
        What are the checks for?
      </h1>

      <form class="form" action="/which-check-answer" method="post" id="which-check-input">

        <!--{% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "which-check",
          items: [
            {
              value: "grants",
              text: "Grants applicants"
            },
            {
              value: "contracts",
              text: "Contract applicants"
            },
            {
              value: "threats",
              text: "National Security Casework"
            }
          ]
      }) }}-->








        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set grantsHtml %}
        {{ govukInput({
          id: "grants-scheme-detail",
          name: "grantsSchemeDetail",
          type: "text",
          autocomplete: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Which GGIS ID does this apply to?"
          },
          hint: {
            text: "For example, AB12345678"
          },
          errorMessage: {
            text: "Specify the GGIS ID this applies to"
          }
        }) }}
        {% endset -%}

        {% set contractsHtml %}
        {{ govukInput({
          id: "contracts-detail",
          name: "contractsDetail",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "What is the contract name?"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "which-check",
          items: [
            {
              value: "grants",
              text: "Grants applicants",
              checked: true,
              conditional: {
                html: grantsHtml
              }
            },
            {
              value: "contracts",
              text: "Contracts applicants",
              conditional: {
                html: contractsHtml
              }
            },
            {
              value: "threats",
              text: "National Security Casework",
              hint: {
                text: "For example casework related to NSIA notifications, export licences, Foreign Direct Investment"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
