{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  <!--{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
}) }}-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-s"><img src="/public/img/icon-important.svg" alt="Important icon" style="margin-right:10px;vertical-align: middle;"> The Cabinet Office Grant Management Function is not responsible for the accuracy of the information received from data sources</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <img src="/public/img/Spotlight-logo.svg" alt="Spotlight logo" style="margin-top:30px; margin-bottom:40px">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img src="/public/img/threats.svg" width="100%" alt="Threats image">
      <p class="govuk-body govuk-!-margin-top-3">View and manage national security threat and vulnerability risk</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue to risks",
        classes: "govuk-button--secondary",
        href: "risks"
      }) }}
    </div>
      
    <div class="govuk-grid-column-one-third">
      <img src="/public/img/grants.svg" width="100%" alt="Grants image">
      <p class="govuk-body govuk-!-margin-top-3">View and manage your grant schemes and applicants</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue to grants",
        classes: "govuk-button--secondary",
        href:"grants"
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <img src="/public/img/contracts.svg" width="100%" alt="Contracts image">
      <p class="govuk-body govuk-!-margin-top-3">View and manage your contracts and suppliers</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue to contracts",
        classes: "govuk-button--secondary",
        href: "contracts"
      }) }}
    </div>

  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
