{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Lorem ipsum...
      </h1>

      <form class="form" action="/threats-type-answer" method="post">

        <p>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "which-threat",
            hint: {
              text: "Lorem ipsum..."
            },
            items: [
              {
                value: "sanctions",
                text: "Sanctions"
              },
              {
                value: "economic-crime",
                text: "Economic crime"
              },
              {
                value: "extremism-adverse-media",
                text: "Extremism adverse media"
              }
            ]
          }) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
