{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-padding-9" style="background-color:#b1b4b6;"	>
  <div>

    <p class="govuk-heading-s" style="text-align: center;">
      Follow the current process for a standard check and when you see the results there will be a new tab title ‘Know your applicant’ which includes 4 new indicators. 
    </p>

    <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0" style="text-align: center;">
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue to view the results",
        classes: "govuk-button--secondary",
        href: "/prototype-2/contracts"
      }) }}
    </p>

  </div>
</div>

{% endblock %}
