{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  <!--{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
}) }}-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-s"><img src="/public/img/icon-important.svg" alt="Important icon" style="margin-right:10px;vertical-align: middle;"> The Cabinet Office Grant Management Function is not responsible for the accuracy of the information received from data sources</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <img src="/public/img/Spotlight-logo.svg" alt="Spotlight logo" style="margin-top:30px; margin-bottom:40px">
    </div>
  </div>

  <div class="govuk-grid-row">

    <style>
      .linkDiv {
          opacity: 1;
          transition: opacity 0.3s ease;
      }

      .linkDiv:hover {
          opacity: 0.8;
      }
    </style>

    <!--         -->
    <!--         -->
    <!--         -->
    <!--         -->
    <!-- THREATS -->
    <a href="/prototype-3/threats" style="text-decoration: none;">
      <div class="govuk-grid-column-one-third">
        <div class="linkDiv" style="background-color: #d4351c; text-align:center">
          <div>
            <img src="/public/img/icon-threats.svg" alt="Threats icon" style="margin-top:30px">
            <p class="govuk-heading-l" style="color: #ffffff;margin-top:15px; padding-bottom:30px">Threats</p>
          </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-2">{{ data['threats-text'] }}</p>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        <!--<div style="float:right;">
          <div style="right:0px; background-color: #d4351c; text-align:center; width:34px; height:34px">
            <div>
              <img src="/public/img/icon-small-arrow.svg" alt="Small arrow icon" style="margin-top:10px">
            </div>
          </div>
        </div>
        <div style="height:30px;border-bottom: 4px solid #d4351c">
        </div>-->

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button--secondary",
          href: "threats"
        }) }}
        </div>
    </a>
  
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
