{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Economic crime and national security check
      </h1>

      {% if (data['org-location-for-one'] == "uk") or (data['org-location-for-two-or-more'] == "uk") %}

      <!--         -->
      <!--         -->
      <!--         -->
      <!-- UK FORM -->
      <!--<p class="govuk-body" style="color:red">UK FORM - {{ data['org-location-for-one'] }} / {{ data['org-location-for-two-or-more'] }}</p>-->
      <form class="form" action="/economic-crime-checks-v7" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukInput({
          label: {
            text: "Entity name",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the entities full registered name, as displayed on the application form."
          },
          id: "organisation-name",
          name: "organisationName"
        }) }}


        {{ govukInput({
          label: {
            text: "Companies House registered number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the entities Companies House registered number, if applicable."
          },
          classes: "govuk-input--width-10",
          id: "companys-house-registered-number",
          name: "companysHouseRegisteredNumber"
        }) }}


        {{ govukInput({
          label: {
            text: "Charity Commission registered number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the entities Charity Commission registered number, if applicable."
          },
          classes: "govuk-input--width-10",
          id: "charity-commission-registered-number",
          name: "charityCommissionRegisteredNumber"
        }) }}


        {% call govukFieldset({
          legend: {
            text: "Entities registered address",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Building number (or name) and street (optional)"
            },
            hint: {
              text: "This field can contain building name, building number, street name and/or industrial estate name."
            },
            id: "address-line-1",
            name: "addressLine1",
            autocomplete: "address-line1",
            value: data['addressLine1']
          }) }}
                
          {{ govukInput({
            label: {
              text: "Town or city (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "addressTown",
            autocomplete: "address-level2",
            value: data['addressLine2']
          }) }}
        
          {{ govukInput({
            label: {
              text: "County (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "addressCounty",
            value: data['addressCounty']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "addressPostcode",
            autocomplete: "postal-code",
            value: data['addressPostcode']
          }) }}
        
        {% endcall %}        

        <!--
        <div class="govuk-inset-text">
          <p class="govuk-body govuk-body govuk-!-margin-bottom-2">Your departments total credits: <strong style="color:#1d70b8">420</strong></p>
          <p class="govuk-body">This check will cost a minimum of <strong style="color:#00703C">2</strong> credits and cost <strong style="color:#00703C">£1.00</strong></p>
        </div>
        -->

        <!--                      -->
        <!--                      -->
        <!--                      -->
        <!-- ROW - CASE REFERENCE -->
        <label class="govuk-label govuk-!-font-weight-bold" for="reference0-ID">
          Case reference (optional)
        </label>
        <div id="referene-ID-hint" class="govuk-body">
          A case reference can be used to group different checks together under the same ID.
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select an existing case reference (optional)
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="ref-id-0" selected></option>
            <option value="ref-id-1">[Case reference one xxxxxxxxxxxxxx]</option>
            <option value="ref-id-2">[Case reference two yyyyyyyyyyyyyyyyyyyyy]</option>
            <option value="ref-id-3">[Case reference three zzzzzzzz]</option>
          </select>
        </div>

        <p class="govuk-body" style="margin-top:-10px;margin-bottom:10px">or</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Create a new case reference (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
          <p class="govuk-hint">You can enter up to 80 characters - this can be any combination of characters, special characters (for example, hyphens), or numbers</p>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% else %}

      <!--                    -->
      <!--                    -->
      <!--                    -->
      <!-- INTERNATIONAL FORM -->
      <!--<p class="govuk-body" style="color:#b1b4b6">INTERNATIONAL FORM</p>-->
      <form class="form" action="/economic-crime-checks-v7" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukInput({
          label: {
            text: "Entity name",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the entities full registered name, as displayed on the application form."
          },
          id: "organisation-name",
          name: "organisationName"
        }) }}


        {% call govukFieldset({
          legend: {
            text: "Entities registered address",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Address line 1 (optional)"
            },
            hint: {
              text: "This field can contain building name, building number, street name and/or industrial estate name."
            },
            id: "address-line-1",
            name: "addressLine1",
            autocomplete: "address-line1",
            value: data['addressLine1']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 2 (optional)",
              classes: "govuk-!-margin-top-0"
            },
            id: "address-line-2",
            name: "addressLine2",
            autocomplete: "address-line2",
            value: data['addressLine2']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Town or city (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "addressTown",
            autocomplete: "address-level2",
            value: data['addressLine2']
          }) }}
        
           
          {{ govukSelect({
            id: "address-country",
            name: "addressCountry",
            label: {
              text: "Country"
            },
            items: [
              {
                value: "Choose",
                text: "Choose country",
                selected: true
              },        
              {
                value: "China",
                text: "China"
              },
              {
                value: "France",
                text: "France"
              },
              {
                value: "Iran",
                text: "Iran"
              },
              {
                value: "Germany",
                text: "Germany"
              }
            ]
          }) }}

        {% endcall %}        


        {{ govukInput({
          label: {
            text: "Telephone number (optional)",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Include the country code, for example, +39 1 33 45 70 90"
          },
          classes: "govuk-input--width-10",
          id: "telephone-number",
          name: "telephoneNumber"
        }) }}


        {{ govukInput({
          label: {
            text: "Website (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "website",
          name: "website"
        }) }}


        {{ govukInput({
          label: {
            text: "Email address (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "email-addressr",
          name: "emailAddress"
        }) }}


        {{ govukInput({
          label: {
            text: "Registration number (optional)",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This is the entities registered number for a non-UK entity."
          },
          classes: "govuk-input--width-10",
          id: "other-registered-number",
          name: "otherRegisteredNumber"
        }) }}


        {{ govukInput({
          label: {
            text: "D-U-N-S number (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "duns-number",
          name: "dunsNumber"
        }) }}

        <!--
        <div class="govuk-inset-text">
          <p class="govuk-body govuk-body govuk-!-margin-bottom-2">Your departments total credits: <strong style="color:#1d70b8">420</strong></p>
          <p class="govuk-body">This check will cost a minimum of <strong style="color:#00703C">2</strong> credits and cost <strong style="color:#00703C">£1.00</strong></p>
        </div>
        -->









      <!--                      -->
      <!--                      -->
      <!--                      -->
      <!-- ROW - CASE REFERENCE -->
      <label class="govuk-label govuk-!-font-weight-bold" for="reference0-ID">
        Case reference (optional)
      </label>
      <div id="referene-ID-hint" class="govuk-body">
        A case reference can be used to group different checks together under the same ID.
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select an existing case reference (optional)
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="ref-id-0" selected></option>
          <option value="ref-id-1">[Case reference one xxxxxxxxxxxxxx]</option>
          <option value="ref-id-2">[Case reference two yyyyyyyyyyyyyyyyyyyyy]</option>
          <option value="ref-id-3">[Case reference three zzzzzzzz]</option>
        </select>
      </div>

      <p class="govuk-body" style="margin-top:-10px;margin-bottom:10px">or</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Create a new case reference (optional)
        </label>
        <input class="govuk-input govuk-input--width-20" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
        <p class="govuk-hint">You can enter up to 80 characters - this can be any combination of characters, special characters (for example, hyphens), or numbers</p>
      </div>






        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% endif %}

    </div>
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
