{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 25px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 25px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>

  <div class="govuk-grid-row">

    <!--        -->
    <!--        -->
    <!--        -->
    <!-- HEADER -->
     <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        PEPs and adverse media
      </h1>

      <p class="govuk-body-s govuk-!-margin-bottom-0">Organisations name</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-0  govuk-!-padding-top-1">{{ data['organisationName'] }}</h2>

      <p class="govuk-body">Select entities to perform a check then click 'Continue' below.</p>
    </div>

    <!--         -->
    <!--         -->
    <!--         -->
    <!-- CONTENT -->
    <div class="govuk-grid-column-full">

      <!--                             -->
      <!--                             -->
      <!--                             -->
      <!-- TOP ROW - DOWNLOAD + SEARCH -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="width-20">
              Search this list by entity name or entity type
            </label>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>              
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <p class="govuk-body" style="margin-bottom:0">Your total credits: <strong style="color:#1d70b8">420</strong></p>
         
          <p class="govuk-heading-m" style="margin-top:-10px"><strong>This search uses: <span style="color:#00703c">0 credits</span></strong></p>
    
        </div>
      </div>

      <!--                   -->
      <!--                   -->
      <!--                   -->
      <!-- TOP ROW - SHOWING X RESULTS + SEARCH -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p style="padding-top:7px;">Showing <strong>1</strong> to <strong>5</strong> of <strong>5</strong> check results</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <style>
              select.govuk-select {
                min-width:0;
                width:35%;
                float:right;
                margin-left:10px;
                
              }
              .select-label {
                float:left;
                width:60%;
                text-align:right;
                padding-top:7px;
              }
              .govuk-frontend-supported .govuk-accordion {
                border-bottom: 0;
              }
            </style>
            <label class="govuk-label select-label" for="sort">
              View per page
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="10">10</option>
              <option value="20" selected>20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>

        </div>
      </div>

      <!--                  -->
      <!--                  -->
      <!--                  -->
      <!-- RECORDS SELECTED -->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full" style="margin-top:-10px; background-color:#f3f2f1; padding-top:8px; height:40px;border-top:2px solid #0b0c0c; border-bottom:1px solid #0b0c0c; margin-left:15px; width:97%">
          <img src="/public/img/icon-info-small.svg" alt="Info icon" style="float:left; margin-right:5px">
          <p class="govuk-body-s" style="float:left;padding-top:1px">0 records selected</p>
        </div>

      </div>

      <!--       -->
      <!--       -->
      <!--       -->
      <!--       -->
      <!-- TABLE -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <style>
            .gov-table__header .app-custom-class {
              font-size:10px!important;
            }
          </style>

          <table class="govuk-table">   

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class" style="width: 53px; font-size:16px;text-align:center">
                  Select
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px;">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <th scope="col" class="govuk-table__header app-custom-class" style="vertical-align: middle; width:; font-size:16px"><a href=#>Entity name <img src="/public/img/icon-sort-inactive.svg" alt="Document icon"></a></th>
                <th scope="col" class="govuk-table__header app-custom-class" style="vertical-align: middle; width:; font-size:16px"><a href=#>Entity type <img src="/public/img/icon-sort-inactive.svg" alt="Document icon"></a></th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">

              <!--           -->
              <!--           -->
              <!--           -->
              <!-- TABLE ROW -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">[Persons Full Name]</td>
                <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Director</td>
              </tr>

              <!--           -->
              <!--           -->
              <!--           -->
              <!-- TABLE ROW -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">[Persons Full Name]</td>
                <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Director</td>
              </tr>

              <!--           -->
              <!--           -->
              <!--           -->
              <!-- TABLE ROW -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">[Persons Full Name]</td>
                <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Director</td>
              </tr>

              <!--           -->
              <!--           -->
              <!--           -->
              <!-- TABLE ROW -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">[Persons Full Name]</td>
                <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Person of significant control</td>
              </tr>

              <!--           -->
              <!--           -->
              <!--           -->
              <!-- TABLE ROW -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                    </div>
                  </div>
                </th>
                <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">[Persons Full Name]</td>
                <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Person of significant control</td>
              </tr>
    
            </tbody>
          </table>


        </div>
      </div>







      <!--                -->
      <!--                -->
      <!--                -->
      <!-- BOTTOM CONTENT -->
      <div class="govuk-grid-row" >

        <div class="govuk-grid-column-full">
          <p class="govuk-body">This check will use <strong style="color:#00703c">0 credits</strong> and cost <strong style="color:#00703c">£0.00</strong></p>

          <p class="govuk-body">Contact <a href="#">spotlight@cabinetoffice.gov.uk</a> to purchase credits for your account.</p>

          <p class="govuk-body">I confirm that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>these checks are being undertaken as part of PEPs and adverse media activity</li>
            <li>it is appropriate to undertake additional due diligence checks</li>
            <li>the cost of these checks will be paid by my organisation</li>
          </ul>

          <div class="govuk-button-group govuk-!-margin-top-7">
            <form class="form" action="/pepsadversemediacheck_v6" method="post">
              {% from "govuk/components/button/macro.njk" import govukButton %}

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Run check"
                }) }}

                <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
