{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many entities do you want to check?
      </h1>

      <form class="form" action="/how-many-orgs" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set oneOrg %}
        {{ govukRadios({
          name: "org-location-for-one",
          items: [
            {
              value: "uk",
              text: "UK registered company"
            },
            {
              value: "international",
              text: "International company"
            }
          ]
        }) }}
        {% endset -%}

        {% set twoOrMoreOrg %}
        {{ govukRadios({
          name: "org-location-for-two-or-more",
          items: [
            {
              value: "uk",
              text: "UK registered companies"
            },
            {
              value: "international",
              text: "International companies"
            }
          ]
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "how-many-orgs",
          items: [
            {
              value: "one",
              text: "One",
              conditional: {
                html: oneOrg
              }
            },
            {
              value: "two-or-more",
              text: "Two or more",
              hint: {
                text: "To conduct two or more checks. we'll ask you to upload a spreadsheet containing appropriate data"
              },
              conditional: {
                html: twoOrMoreOrg
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
