{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check summary
    </h1>

    <style>
      .meter { 
          height: 10px;
          position: relative;
          background: #f3f2f1;
          overflow: hidden;
      }
      
      .meter span {
          display: block;
          height: 100%;
      }
      
      .progress {
          background-color: #1d70b8;
          animation: progressBar 5s ease-in-out;
          animation-fill-mode:both; 
      }
      
      @keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
      }
    </style> 

    <div class="meter">
      <span style="width:100%;"><span class="progress"></span></span>
    </div>

    <style>
      .loading-text::before {
          content: "3";
          animation: animate 5s;
          padding-left: 10px;
      }
      .success::before {
        animation: animate2 5s;
      }
      @keyframes animate {
        0% {
            content: "0";
        }

        33% {
            content: "1";
        }

        66% {
            content: "2";
        }
        100% {}
      }
    </style>

    <span class="loading-text govuk-caption-xl" style="text-align: center; padding-top:15px; padding-bottom:30px"> of 3 records prepared...</span>

    <script>
      var timer = setTimeout(function() {
          window.location='results#directors-section'
      }, 5000);
  </script>

  </div>
</div>

<p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
