{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="background-color:#f3f2f1; text-align:center;padding-top:60px; padding-bottom:60px; margin-bottom:15px">
 
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div>

  <div class="govuk-grid-column-one-third">

    <h1 class="govuk-heading-l">
      Rejected entities
    </h1>

    <p>
      A complete list of rejected entities will be downloaded as an Excel file.
    </p>

    <p>
      <a href="javascript:history.back()">Return to previous page</a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div>

</div>

<p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}