{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Upload summary
    </h1>











    <style>
      .meter { 
          height: 10px;
          position: relative;
          background: #f3f2f1;
          overflow: hidden;
      }
      
      .meter span {
          display: block;
          height: 100%;
      }
      
      .progress {
          background-color: #1d70b8;
          width:100%; 
      }
          </style> 

    <div class="meter">
      <span style="width:100%;"><span class="progress"></span></span>
    </div>
  
    <span class="govuk-caption-xl" style="text-align: center; padding-top:15px; padding-bottom:30px">3 of 3 records prepared...</span>

  </div>
</div>

{% if (data['org-location-for-one'] == "uk") %}

<!--            -->
<!--            -->
<!--            -->
<!-- UK MATCHES -->
<!--<p class="govuk-body" style="color:red">UK - ONE ENTITY</p>-->

<div class="success govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div style="text-align:center;background-color:#21703F;padding:30px">
      <h1 class="govuk-heading-l" style="color:#ffffff">
        3
      </h1>
  
      <p class="govuk-caption-l" style="color:#ffffff">Entities were checked for Economic crime and national security </p>

      <hr class="govuk-section-break govuk-section-break--visible" style="padding-top:30px">

      <p style="color:#ffffff; margin-top:30px"><a href="success-download" style="color:#ffdd00">Click here to download successful records for storing offline</a></p>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div style="text-align: right; margin-top:15px">
      {{ govukButton({
        text: "View results",
        href:"two-or-more-results"
      }) }}
    </div>
  </div>

</div>

{% endif %}





{% if (data['org-location-for-two-or-more'] == "uk") %}

<!--<p calss="govuk-heading-l" style="color:red">UK - TWO OR MORE ENTITIES COMING SOON</p>-->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div style="text-align:center;background-color:#21703F;padding:15px">
      <h1 class="govuk-heading-l" style="color:#ffffff">
        3
      </h1>
  
      <p class="govuk-caption-l" style="color:#ffffff;margin-top:-15px">Entities were checked for Economic crime and national security</p>

      <hr class="govuk-section-break govuk-section-break--visible" style="padding-top:15px;">

      <p class="govuk-body-s" style="color:#ffffff; margin-top:15px;margin-bottom:0"><a href="success-download" style="color:#ffdd00">Click here to download successful records for storing offline</a><br /><span style="visibility: hidden">.</span></p>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div style="text-align: right; margin-top:15px">
      {{ govukButton({
        text: "View results",
        href:"two-or-more-results"
      }) }}
    </div>
  </div>

</div>
                 
{% endif %}





{% if (data['org-location-for-one'] == "international") %}

<!--<p calss="govuk-heading-l" style="color:red">INTERNATIONAL - ONE ENTITY</p>-->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div style="text-align:center;background-color:#21703F;padding:15px">
      <h1 class="govuk-heading-l" style="color:#ffffff">
        3
      </h1>
  
      <p class="govuk-caption-l" style="color:#ffffff;margin-top:-15px">Entities were checked for Economic crime and national security</p>

      <hr class="govuk-section-break govuk-section-break--visible" style="padding-top:15px;">

      <p class="govuk-body-s" style="color:#ffffff; margin-top:15px;margin-bottom:0"><a href="success-download" style="color:#ffdd00">Click here to download successful records for storing offline</a><br /><span style="visibility: hidden">.</span></p>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div style="text-align: right; margin-top:15px">
      {{ govukButton({
        text: "View results",
        href:"two-or-more-results"
      }) }}
    </div>
  </div>

</div>

{% endif %}





{% if (data['org-location-for-two-or-more'] == "international") %}

<!--<p class="govuk-body" style="color:red">INTERNATIONAL - TWO OR MORE</p>-->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div style="text-align:center;background-color:#21703F;padding:15px">
      <h1 class="govuk-heading-l" style="color:#ffffff">
        3
      </h1>
  
      <p class="govuk-caption-l" style="color:#ffffff;margin-top:-15px">Entities were checked for Economic crime and national security</p>

      <hr class="govuk-section-break govuk-section-break--visible" style="padding-top:15px;">

      <p class="govuk-body-s" style="color:#ffffff; margin-top:15px;margin-bottom:0"><a href="success-download" style="color:#ffdd00">Click here to download successful records for storing offline</a><br /><span style="visibility: hidden">.</span></p>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div style="text-align: right; margin-top:15px">
      {{ govukButton({
        text: "View results",
        href:"two-or-more-results"
      }) }}
    </div>
  </div>

</div>

{% endif %}


    



<p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
