{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select the user type before starting protytpe three",
          href: "#which-prototype-input"
        }
      ]
    }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <img src="/public/img/Spotlight-logo.svg" alt="Spotlight logo" style="margin-bottom:30px">
    
    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->

    {% set html %}
    <p class="govuk-notification-banner__body">
      Always clear data before starting a protytpe.
      <a class="govuk-notification-banner__link" href="/manage-prototype/clear-data">Clear data</a>.
    </p>
  {% endset %}
  
  {{ govukNotificationBanner({
    html: html
  }) }}

  <p style="margin-top:-15px">Select a prototype:</p>

  <!--{% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Start prototype 1",
    href: "/prototype-1/index",
    isStartButton: true
  }) }}-->



    <form class="form" action="/which-prototype" method="post" id="which-prototype-input">

      <p>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set whichUser %}
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukRadios({
          name: "which-user",
          value: data['which-user'],
          items: [
            {
              value: "user1",
              text: "Grants and commercial users"
            },
            {
              value: "user2",
              text: "All other users"
            }
          ],
          errorMessage: {
            text: "Select the user type before starting protytpe three"
          }
        }) }}

        {% endset -%}
        
        {{ govukRadios({
          name: "which-prototype",
          items: [
            {
              value: "1.0",
              text: "Prototype one"
            },
            {
              value: "2.0",
              text: "Prototype two"
            },
            {
              value: "3.0",
              text: "Prototype three",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "4.0",
              text: "Prototype four",
              checked: true,
              conditional: {
                html: whichUser
              }
            },
            {
              value: "5.0",
              text: "Prototype five",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "6.0",
              text: "Prototype six",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "7.0",
              text: "Prototype seven",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "7.1",
              text: "Prototype seven 'B'",
              conditional: {
                html: whichUser
              }
            }
          ]
        }) }}
      </p>

      {{ govukButton({
        text: "Start prototype",
        isStartButton: true
      }) }}

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

    <!--{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__body">
        Always clear data before starting a protytpe.
        <a class="govuk-notification-banner__link" href="/manage-prototype/clear-data">Clear data</a>.
      </p>
    {% endset %}
    
    {{ govukNotificationBanner({
      html: html
    }) }}-->
      
  </div>
  
</div>

{% endblock %}
