{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <img src="/public/img/Spotlight-logo.svg" alt="Spotlight logo" style="margin-bottom:30px">
    
    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->

    <p>Select an active protype from the links below:</p>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start prototype 1",
      href: "/prototype-1/index",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
