{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <img src="/public/img/Spotlight-logo.svg" alt="Spotlight logo" style="margin-bottom:30px">
    
    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__body">
        Always clear data before starting a protytpe.
        <a class="govuk-notification-banner__link" href="/manage-prototype/clear-data">Clear data</a>.
      </p>
    {% endset %}
    
    {{ govukNotificationBanner({
      html: html
    }) }}

    <p style="margin-top:-15px">Select a prototype:</p>

    <form class="form" action="/which-prototype" method="post">

      <p>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set whichUser %}
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        
        {{ govukRadios({
          name: "which-user",
          value: data['which-user'],
          items: [
            {
              value: "user1",
              text: "Grants and commercial users"
            },
            {
              value: "user2",
              text: "All other users"
            }
          ]
        }) }}

        {% endset -%}

        {{ govukRadios({
          name: "which-prototype",
          value: data['which-prototype'],
          items: [
            {
              value: "1.0",
              text: "Prototype one (archived)"
            },
            {
              value: "2.0",
              text: "Prototype two (archived)"
            },
            {
              value: "3.0",
              text: "Prototype three (archived)",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "4.0",
              text: "Prototype four (archived)",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "5.0",
              text: "Prototype fiver (archived)",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "6.0",
              text: "Prototype six (archived)",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "7.0",
              text: "Prototype seven (archived)",
              conditional: {
                html: whichUser
              }
            },
            {
              value: "7.1",
              text: "Prototype seven 'B'",
              conditional: {
                html: whichUser
              }
            }
          ]
        }) }}
      </p>

      {{ govukButton({
        text: "Start prototype",
        isStartButton: true
      }) }}

    </form>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
