{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">                            
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Potential matches for review
      </h1>

      <p class="govuk-body">Spotlight has identified possible matches for the entity details provided. These potential matches cost 1 credit / £0.50p each in addition to the 2 credits for the main record, although you can “reject” the suggested match(es).</p>

      <p class="govuk-body">Review the list of potential matched entities in the table below. To reject a suggested match, check the box next to the record you do not want to run a check on. The rejected records will be added to a separate spreadsheet that you can access after you have run the checks.</p>

      <p class="govuk-body">When you have completed your selection, click ‘Save and continue’  to proceed to the order summary page which will display the rest of your uploaded records, ready to check.</p>

      <p class="govuk-body">Contact <a href="#">spotlight@cabinetoffice.gov.uk</a> to purchase credits for your account.</p>

    </div>
  </div>

  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="margin-bottom:10px">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          <strong>Search by entity name</strong>
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-half" style="text-align: right;">
      <p class="govuk-body" style="margin-bottom:0">Your total credits: <strong style="color:#1d70b8">420</strong></p>
      <p class="govuk-heading-m" style="margin-top:-10px"><strong>This search uses: <span style="color:#00703c">6 credits</span></strong></p>
    </div>
 
  </div>

  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="margin-top:-15px">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p style="padding-top:7px;">Showing <strong>8</strong> to <strong>8</strong> of <strong>8</strong> potential matches</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <style>
          select.govuk-select {
            min-width:0;
            width:35%;
            float:right;
            margin-left:10px;
          }
          .select-label {                  
            float:left;
            width:60%;
            text-align:right;
            padding-top:7px;
          }
        </style>
        <label class="govuk-label select-label" for="sort">
          View per page
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="10">10</option>
          <option value="20" selected>20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>

    </div>
  </div>
  
  <!--     -->
  <!--     -->
  <!--     -->
  <!-- ROW -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="margin-top:-15px">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <!--       -->
  <!--       -->
  <!--       -->
  <!--       -->
  <!-- TABLE -->
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% if (data['org-location-for-one'] == "uk") or (data['org-location-for-two-or-more'] == "uk") %}

      <!--            -->
      <!--            -->
      <!--            -->
      <!-- UK MATCHES -->
      <!--<p class="govuk-body" style="color:red">UK MATCHES</p>-->

      <style>
        .gov-table__header .app-custom-class {
          font-size:10px!important;
        }
        .original-matched {
          background-color:rgba(0, 112, 60,.1);
          border-left:4px solid #005a30;
          border-right:1px solid #005a30
        }
        .original-no-match {
          background-color:#fff7bf;
          border-left:4px solid #594d00;
          border-right:1px solid #005a30;
        }
      </style>

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class" style="width: 53px; font-size:16px;text-align:center">Reject</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="width: 65px; font-size:16px">Match score</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px">Entity name</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px">City</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px; width:100px">Postcode</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px; width:120px">Companies House</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px; width:120px">Charity Commission</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-matched">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL MATCHED</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">Microsoft</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">Reading</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">RG1 2ED</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">0987654321</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">&mdash;</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">100%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">Microsoft</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Reading</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">RG1 2ED</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">0987654321</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">50%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Microsoft Limited</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Reading</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">RG1 2ED</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>&mdash;</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>5679001234</mark></td>
          </tr>
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">10%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Microsoft a Gravida</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Manchester</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px"><mark>MA64 3EG</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>1324576809</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-no-match">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL NO MATCH</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">Google</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">London</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">SW1W 9TQ</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">03977902</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">&mdash;</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">97%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Google UK Limited</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">London</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">SW1W 9TQ</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">03977902</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">37%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Google Connect UK Ltd</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Henley-In-Arden</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px"><mark>B95 5BH</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>&mdash;</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>5679001234</mark></td>
          </tr>
                    
        </tbody>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-matched">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL MATCHED</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">TVR Automotive Limited</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">Swindon</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">SN2 2GA</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">05449931</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">&mdash;</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">100%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">TVR Automotive Limited</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Swindon</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">SN2 2GA</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">05449931</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">70%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>TVR Applications Limited</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Kineton</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px"><mark>&mdash;</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>09261674</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">10%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>TVR Car Club Limited</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Newport</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px"><mark>TF10 7DW</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>02426865</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">&mdash;</td>
          </tr>
          
        </tbody>

      </table>

      <p class="govuk-body">This part of the order will use <strong style="color:#00703c">3 credits</strong> and cost <strong style="color:#00703c">£1.50</strong></p>
      
      {% else %}

      <!--                       -->
      <!--                       -->
      <!--                       -->
      <!-- INTERNATIONAL MATCHES -->
      <!--<p class="govuk-body" style="color:red">INTERNATIONAL MATCHES</p>-->

      <style>
        .gov-table__header .app-custom-class {
          font-size:10px!important;
        }
        .original-matched {
          background-color:rgba(0, 112, 60,.1);
          border-left:4px solid #005a30;
          border-right:1px solid #005a30
        }
        .original-no-match {
          background-color:#fff7bf;
          border-left:4px solid #594d00;
          border-right:1px solid #005a30;
        }
      </style>

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class" style="width: 53px; font-size:16px;text-align:center">Reject</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="width: 65px; font-size:16px">Match score</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px">Entity name</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px">City</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px; width:100px">Country</th>
            <th scope="col" class="govuk-table__header app-custom-class" style="font-size:16px; width:120px">D-U-N-S number</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-matched">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL MATCHED</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">Microsoft</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">Redmond</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">United States</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">0123456790</td>
          </tr>
                              
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">100%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">Microsoft</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Redmond</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">United States</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">0123456790</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">50%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Microsoft Limited</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Redmond</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">United States</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>5679001234</mark></td>
          </tr>
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">10%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Microsoft a Gravida</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Sydney</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px"><mark>Australia</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>1324576809</mark></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-no-match">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL MATCHED</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">BYD</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">Shenzen</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">4523896701</td>
          </tr>
                              
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">95%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>BYD Company Limited </mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Shenzen</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">4523896701</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">93%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>比亚迪股份有限公司</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Shenzen</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">4523896701</td>
          </tr>
                    
        </tbody>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row original-matched">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px;visibility: hidden;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:12px; padding-top:12px"><strong>ORIGINAL MATCHED</strong></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px">Deep Cool</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:16px">Beijing</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:16px; width:120px">0123456790</td>
          </tr>
                              
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">100%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px">Deep Cool</td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Beijing</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">0123456790</td>
          </tr>
                    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">94%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>深涼</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px">Beijing</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">China</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px">0123456790</td>
          </tr>
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 53px; font-size:16px; text-align:center">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-top: -9px; margin-bottom: -10px">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div>
              </div>
            </th>
            <td class="govuk-table__cell" style="width: 65px; font-size:16px; padding-top:12px">33%</td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px"><mark>Deep Cool Ltd</mark></td>
            <td class="govuk-table__cell"style="font-size:16px; padding-top:12px"><mark>Shanghai</mark></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:100px">China></td>
            <td class="govuk-table__cell" style="font-size:16px; padding-top:12px; width:120px"><mark>5679001234</mark></td>
          </tr>
          
        </tbody>

      </table>

      <p class="govuk-body">This part of the order will use <strong style="color:#00703c">3 credits</strong> and cost <strong style="color:#00703c">£1.50</strong></p>

      {% endif %}

      <a href="order-summary"><button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button></a>

    </div>
  </div>

  <p class="govuk-body-s" style="font-size: 9px; color:	#b1b4b6">PROTOTYPE VERSION: {{ data['which-prototype'] }}</p>

{% endblock %}
